<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beego {{.code}} Page</title>
    <style type="text/css">
        .title{
            width: 100%;
            font-size: 80px;
            font-weight: bolder;
            padding-top: 200px;
            text-align: center;
        }
        .content{
            width: 100%;
            font-size: 40px;
            font-weight: bolder;
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="title">{{.code}}</div>
    <div class="content">{{.content}}</div>
</body>
</html>